.selectNoneBorder{
  :global{
    .ant-select-selection {
      border: none;
      background-color: transparent;
      &:hover,
      &:active,
      &:focus {
        box-shadow: none;
      }
    }
    .ant-select-dropdown{
      min-width: 100px !important;
    }
  }
}

.dropDownMinWidth{
  min-width: 100px !important;
}

.priority{
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .priorityIcon{
    font-size: 18px;
    margin-left: 4px;
  }
}
