.tabWrapper {
  height: 100%;
  :global {
    .ant-tabs-bar {
      margin-bottom: 0;
    }
    .ant-tabs-tab {
      &:last-child {
        padding-bottom: 0;
        padding-top: 0;
      }
      padding: 20px 16px;
    }
    .ant-tabs-content {
      height: 100%;
    }
  }
  .tabPane {
    padding: 20px;
    height: 100%;
    overflow-y: auto;
  }
}

.headerWrapper {
  padding: 12px 20px;
  align-items: center;
  color: rgb(0, 82, 204);
  display: flex;
  :global {
    .ant-dropdown-trigger {
      margin: 0 25px 0 0;
      span {
        font-size: 18px;
      }
      span, i {
        color: rgba(0,0,0,.85);
      }
    }
  }
  .actions{
    display: flex;
    align-items: center;
  }
}
