.locationItemWrapper {
  border-bottom: solid 1px #E9E9E9;
  padding: 14px 0;
  .shortInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .name {
      color: #0052CC;
    }
    .address {
      color: rgba(0, 0, 0, 0.45);
    }
  }
  .contactWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .contactInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .locationAction {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 60px;
    .actionContainer {
      display: flex;
      align-content: flex-end;
      justify-content: flex-end;
      .action {
        border: none;
      }
    }
  }
}
.locationItemWrapper:first-child {
  padding-top: 0;
}

.locationName {
  color: #0052CC;
}
