.wrapperClassName{
  .action {
    display: flex;
    margin-left: 0;
  }
}

.pageHeaderWrapper {
  height: 180px;
}

.contentClassName{
  height: 100%;
  min-height: 100%;
  margin: 24px 24px 0 24px;
}

.contentDetail {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 20px;
  .leftContent {
    width: 16%;
    background-color: #fff;
    overflow-x: auto;
    border-right: 1px solid #e8e8e8;
    >ul {
      border-right: 0;
      width: calc(100% - 1px);
    }
    .menuWrapper {
      :global {
        li.ant-menu-item {
          margin-top: 0;
        }
      }
    }
  }
  .rightContent {
    flex: 1;
    background-color: #fff;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.textAlignLeft {
  flex: 1;
  text-align: left;
}

.textAlignRight {
  text-align: right;
  min-width: 24px;
}

.highlight {
  color: @primary-color;
}

.deleteGeneratedJobs{
  margin-top: 8px;
}
