.wrapperDetailTab {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 10px;
  height: 100%;
}

.header {
  padding: 10px;
  border-bottom: solid 1px #e0d9d9;
  span {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85)
  }
}

.attribute {
  padding: 10px 10px 0 10px;
  .title {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 5px;
    display: block;
  }

  .qrCode {
    padding: 10px 0;
  }

  button {
    font-size: 12px;
  }

  .data {
    color: rgba(0, 0, 0, 0.65);
    font-size: 13px;
    line-height: 20px;
    font-family: 'SF UI Text Regular', sans-serif;
  }
}
