@filter-width: 260px;
@margin: 16px;
@filter-content-width: @filter-width - @margin;

.wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 @margin;
  background: #f0f2f5;
  height: calc(100% - 64px);
  min-height: calc(100% - 64px);

  .tableWrapper{
    width: 100%;
    height: ~'calc(100% - @{margin})';
    margin-top: 16px;
    background: #FFF;
    th {
      text-transform: uppercase;
    }
  }
}

.iconContainer {
  background-color: @primary-color;
  border: none !important;
}

.action {
  display: inline-flex;
  i {
    font-size: 16px;
  }
}
