@header-height: 180px;

.contentWrapper{
  height: ~'calc(100% - 24px - @{header-height})';
  min-height: ~'calc(100% - 24px - @{header-height})';

  :global {
    .ant-spin-nested-loading, .ant-spin-container{
      height: 100%;
    }
  }

  .wrapper {
    display: flex;
    height: 100%;
    padding-top: 20px;
  
    .section{
      height: 100%;
    }
  
  }
}

.pageHeaderWrapper{
  height: @header-height;
}

.actionWrapper {
  align-self: start;
}
