.wrapperRightAction{
  margin-left: auto;
}

.wrapperLeftInfo {
  display: flex;
  flex-direction: column;
  .description{
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    .subHeader {
      font-size: 16px;
      padding-bottom: 8px;
    }
    p{
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 8px;
    }
    span{
      font-size: 16px;
    }
    .wrapperFooter {
      height: 100%;
      display: flex;
      align-items: flex-end;
      .footer {
        align-items: center;
        display: flex;
        flex-grow: 1;
        .dropdown{
          display: flex;
          align-items: center;
          button {
            width: 96px;
            background-color: #13855F;
            color: white;
            > span {
              font-size: 14px;
            }
          }
        }
        .peopleResource {
          margin: 0 10px;
          display: flex;
          align-items: center;
          img {
            cursor: pointer;
          }
          span {
            margin: 0 5px;
            color: rgba(0, 0, 0, 0.65);
            font-size: 16px;
          }
        }

      }
    }
  }
}
