@import '~antd/lib/style/themes/default.less';

@modal-height: 700px;
@modal-footer-height: 62px;
@modal-tab-height: 60px;
@left-side-width: 300px;

.wrapper {
  :global {
    .ant-modal-body {
      padding: 0;
    }
    .ant-form-item {
      margin-bottom: 18px;
    }
  }
  .leftSide {
    height: @modal-height;
    width: @left-side-width;
    overflow-y: auto;
    padding: 24px;
    border-right: 1px solid #e8e8e8;
  }
  .rightSide {
    width: ~'calc(100% - @{left-side-width})';

    & > div {
      height: 100%;
      flex-direction: column;
    }
    .tabWrapper {
      height: 100%;

      :global {
        .ant-tabs-bar {
          margin-bottom: 0;
        }
        .ant-tabs-tab {
          padding: 20px 16px;
        }
        .ant-tabs-content {
          height: 100%;
        }
      }
      .tabPane {
        padding: 18px 24px 0 24px;
        height: ~'calc(@{modal-height} - @{modal-footer-height} - @{modal-tab-height})';
        overflow-y: auto;
      }
    }
  }

  .footer {
    display: flex;
    height: @modal-footer-height;
    justify-content: flex-end;
    padding: 20px 16px 10px 16px;
    button {
      margin-left: 8px;
    }
  }

  .datePicker {
    width: 100%;
  }

  .labelRequired{
    padding-bottom: 8px;

    &::before {
      display: inline-block;
      margin-right: 4px;
      color: #f5222d;
      font-size: 14px;
      line-height: 1;
      content: '*';
    }
  }

  .doubleFormItem{
    display: flex;

    :global {
      .ant-form-item:first-child{
        margin-right: 16px;
        width: calc(30% - 16px);
      }
      .ant-form-item:last-child{
        width: 70%;
      }
    }
  }
}
