.tabWrapper {
  height: 100%;
  :global {
    .ant-tabs-bar {
      margin-bottom: 0;
    }
    .ant-tabs-tab {
      &:nth-child(1) {
        border-left: 0 !important;
      }
    }
    .ant-tabs-content {
      height: 100%;
    }
  }
  .tabPane {
    padding: 20px;
    height: 100%;
    overflow-y: auto;
  }
}

.headerWrapper {
  padding: 12px 0;
  align-items: center;
  color: rgb(0, 82, 204);
  margin-left: 12px;
  display: flex;
  :global {
    .ant-dropdown-trigger{
      margin: 0 25px 0 15px;
      span {
        font-size: 18px;
      }
      span, i {
        color: rgba(0,0,0,.85);
      }
    }
  }
  .actions{
    display: flex;
    align-items: center;
  }
}
