.overviewWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  .overviewTabs {
    height: 100%;
    display: flex;
    flex-direction: column;
    .tab {
      padding: 0 20px;
      height: 100%;
    }
    :global {
      .ant-tabs-content {
        height: 100%;
        padding-bottom: 26px;
        display: flex;
        flex-direction: column;
        flex: 1 1;
      }
    }
  }
  .headerWrapper {
    padding: 20px;
    align-items: center;
    color: rgb(0, 82, 204);
    display: flex;
    :global {
      .ant-dropdown-trigger {
        span {
          font-size: 18px;
        }
        span, i {
          color: rgba(0,0,0,.85);
        }
      }
    }
    .actions {
      display: flex;
      align-items: center;
    }
  }
}
