@import '~antd/lib/style/themes/default.less';

.header {
  display: flex;
  padding-right: 16px;
  height: 100%;

  .selectedRow {
    display: flex;
    align-items: center;
    margin-left: 32px;
    font-size: 12px;
    color: @primary-color;
  }
  .addButton {
    i {
      font-size: 18px;
      padding: 8px 4px;
    }
    &:hover {
      color: @primary-color;
    }
  }
}

.icon {
  vertical-align: middle;
  font-size: 24px;
  cursor: pointer;
  &:hover{
    color: #1890FF;
  }
}

.highlight {
  color: @primary-color;
}

.displayFlex {
  display: flex;
}
