.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .statusDropdown {
    :hover {
      cursor: pointer;
    }
    .status {
      padding: 4px 22px;
      color: #13855F;
      border-radius: 4px;
      background-color: #fff;
      font-size: 12px;
      border: 1px solid #13855F;
    }
    .arrow {
      margin-left: 10px;
      color: rgba(0, 0, 0, 0.45);
    }
  }
}
