.wrapper {
  display: flex;
  flex-direction: row;

  .icon{
    font-size: 60px;
    vertical-align: middle;
  }

  .textInfo {
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .clientName {
      font-size: 20px;
      line-height: 24px;
    }
    .clientAddress {
      font-size: 16px;
      line-height: 19px;
    }
    .shortInfo {
      flex-direction: row;
      display: flex;
      align-items: center;

      .clientOwner{
        margin-left: 20px;

        .ownerName {
          margin-left: 10px;
          font-size: 16px;
        }
      }
    }
  }
  .empty {
    color: rgba(0, 0, 0, 0.15);
  }
}
