.tabWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  :global {
    .ant-tabs-bar {
      margin-bottom: 0;
    }
    .ant-tabs-tab {
      padding: 20px 16px;
    }
    .ant-tabs-content {
      flex: 1;
      display: flex;
    }
  }
  .tabPane {
    padding: 20px;
    height: 100%;
    overflow-y: auto;
  }
  .contentView {
    height: 100%;
    > div {
      height: 100%;
    }
  }
}
