.contactItemWrapper {
  border-bottom: solid 1px #E9E9E9;
  padding: 14px 0;
  .shortInfo {
    display: flex;
    flex-direction: row;
    .contactInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 18px;
      font-size: 14px;
      .name {
        color: #0052CC;
        line-height: 22px;
      }
      .title {
        color: rgba(0, 0, 0, 0.45);
        line-height: 22px;
      }
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .contactAction {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 60px;
    .actionContainer {
      display: flex;
      align-content: flex-end;
      justify-content: flex-end;
      .action {
        border: none;
      }
    }
  }
}

.contactItemWrapper:first-child {
  padding-top: 0;
}

.empty {
  color: rgba(0, 0, 0, 0.15);
}

.contactName {
  color: #0052CC;
}
