/* Text styles */
h2 {
  font-family: "Open Sans", "Source Sans Pro", sans-serif !important;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #000; }

.display-3dots {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 0.8; } }
.listing-card {
  position: relative;
  max-width: 360px;
  height: 360px;
  cursor: pointer;
  margin: 10px auto 0;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: none;
  background-position: center;
  border-top-right-radius: 3px; }
  .listing-card .card {
    border-radius: 0; }
  .listing-card .listing-card-header {
    top: 20px;
    width: 180px;
    right: 16px;
    position: absolute;
    display: flex;
    height: 35px;
    flex-direction: row;
    line-height: 1.6;
    color: #0c0033;
    text-align: center;
    border-radius: 8px;
    font-size: 11px;
    letter-spacing: 0.4px;
    font-weight: bold; }
    .listing-card .listing-card-header .fire-dark {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      background-color: #f8e71c;
      display: flex;
      padding: 0 6px; }
      .listing-card .listing-card-header .fire-dark img {
        margin: auto;
        width: 12px;
        filter: grayscale(1) invert(0.54); }
    .listing-card .listing-card-header .listing-card-status-text {
      font-family: "Open Sans";
      font-size: 11px;
      color: #000;
      letter-spacing: 0.4px; }
    .listing-card .listing-card-header .listing-card-status-content {
      display: flex;
      margin: 3px 3px 3px 0;
      padding: 4px;
      background-color: white;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      text-transform: uppercase; }
  .listing-card .listing-card-footer {
    position: absolute;
    width: 100%;
    bottom: 0; }
    .listing-card .listing-card-footer.sale .card-type {
      background-color: #652c90; }
    .listing-card .listing-card-footer.sale .listing-card-underline {
      background-color: #652c90; }
    .listing-card .listing-card-footer.rental .card-type {
      background-color: #1a64ba; }
    .listing-card .listing-card-footer.rental .listing-card-underline {
      background-color: #1a64ba; }
    .listing-card .listing-card-footer .card-type {
      font-size: 11px;
      font-weight: bold;
      line-height: 1.6;
      color: #fff;
      text-transform: uppercase;
      padding: 4px 4px 4px 15px;
      display: inline-flex;
      background-color: #652c90; }
    .listing-card .listing-card-footer .listing-card-underline {
      width: 100%;
      position: absolute;
      height: 6px;
      background-color: #652c90;
      display: unset;
      bottom: 0; }
    .listing-card .listing-card-footer .listing-card-footer-title {
      font-size: 24px;
      line-height: 1.2;
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      font-family: 'Open Sans';
      padding: 4px 15px;
      min-height: 67px; }
    .listing-card .listing-card-footer .card {
      padding: 4px 16px;
      display: flex;
      flex-direction: row;
      cursor: default;
      min-height: 64px;
      position: relative; }
      .listing-card .listing-card-footer .card .listing-card-footer-subtitle {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 11px;
        opacity: 0.6; }
      .listing-card .listing-card-footer .card .listing-card-footer-content {
        flex: 1;
        margin-right: 40px; }
        .listing-card .listing-card-footer .card .listing-card-footer-content .listing-card-footer-price {
          word-break: break-word;
          font-size: 18px;
          font-weight: bold;
          color: #0c0033; }
      .listing-card .listing-card-footer .card .listing-card-footer-icon {
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 9;
        right: 16px;
        height: 100%;
        margin-top: -4px; }
        .listing-card .listing-card-footer .card .listing-card-footer-icon img {
          cursor: pointer;
          width: 36px;
          height: 36px; }
  .listing-card .listing-card-text-time-live,
  .listing-card .listing-card-text-ends-in {
    font-size: 11px;
    letter-spacing: 0.1px;
    color: #000000;
    font-weight: bold; }
  .listing-card .listing-card-text-ends-in {
    font-weight: bold; }
  .listing-card.biddin-end .overlay-effect {
    background-color: #f5a623;
    position: absolute;
    height: 100.05%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    transition-delay: 0s;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    animation: fadeIn 0.3s; }
    .listing-card.biddin-end .overlay-effect.error {
      background-color: #a71818 !important; }
  .listing-card.biddin-end .text-effect {
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    border-top-right-radius: 3px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    top: 50%;
    display: flex; }
    .listing-card.biddin-end .text-effect .listing-card-background-add-card {
      margin: auto; }
      .listing-card.biddin-end .text-effect .listing-card-background-add-card .listing-card-background-add-card-content {
        padding: 0 16px; }
        .listing-card.biddin-end .text-effect .listing-card-background-add-card .listing-card-background-add-card-content .listing-card-background-add-card-content-header {
          text-transform: uppercase;
          font-weight: bold;
          padding: 16px 0; }
  .listing-card.biddin-end .listing-card-header {
    background-color: #f5a623; }
    .listing-card.biddin-end .listing-card-header .listing-card-status-content {
      font-size: 11px;
      font-family: "Source Sans Pro";
      font-weight: bold;
      letter-spacing: 0.4px;
      color: #f5a623;
      text-align: center; }
      .listing-card.biddin-end .listing-card-header .listing-card-status-content .w-100 {
        margin: auto; }
  .listing-card.biddin-soon .overlay-effect {
    background-color: #00d3a7;
    position: absolute;
    height: 100.05%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    transition-delay: 0s;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    animation: fadeIn 0.3s; }
    .listing-card.biddin-soon .overlay-effect.error {
      background-color: #a71818 !important; }
  .listing-card.biddin-soon .text-effect {
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    border-top-right-radius: 3px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    top: 50%;
    display: flex; }
    .listing-card.biddin-soon .text-effect .listing-card-background-add-card {
      margin: auto; }
      .listing-card.biddin-soon .text-effect .listing-card-background-add-card .listing-card-background-add-card-content {
        padding: 0 16px; }
        .listing-card.biddin-soon .text-effect .listing-card-background-add-card .listing-card-background-add-card-content .listing-card-background-add-card-content-header {
          text-transform: uppercase;
          font-weight: bold;
          padding: 16px 0; }
  .listing-card.biddin-soon .listing-card-header {
    background-color: #00d3a7; }
    .listing-card.biddin-soon .listing-card-header .listing-card-status-content .w-100 {
      text-align: center;
      display: flex;
      flex-direction: row;
      font-family: "Open Sans";
      font-size: 10px;
      line-height: 1.6;
      color: #0c0033; }
      .listing-card.biddin-soon .listing-card-header .listing-card-status-content .w-100 .datetime {
        flex: 1;
        background-color: white;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        place-content: center;
        align-items: center; }
        .listing-card.biddin-soon .listing-card-header .listing-card-status-content .w-100 .datetime .date, .listing-card.biddin-soon .listing-card-header .listing-card-status-content .w-100 .datetime .month {
          font-size: 11px;
          margin-left: 1px; }
  .listing-card.biddin-live .overlay-effect {
    background-color: #b8e986;
    position: absolute;
    height: 100.05%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    transition-delay: 0s;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    animation: fadeIn 0.3s; }
    .listing-card.biddin-live .overlay-effect.error {
      background-color: #a71818 !important; }
  .listing-card.biddin-live .text-effect {
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    border-top-right-radius: 3px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    top: 50%;
    display: flex; }
    .listing-card.biddin-live .text-effect .listing-card-background-add-card {
      margin: auto; }
      .listing-card.biddin-live .text-effect .listing-card-background-add-card .listing-card-background-add-card-content {
        padding: 0 16px; }
        .listing-card.biddin-live .text-effect .listing-card-background-add-card .listing-card-background-add-card-content .listing-card-background-add-card-content-header {
          text-transform: uppercase;
          font-weight: bold;
          padding: 16px 0; }
  .listing-card.biddin-live .listing-card-header {
    background-color: #b8e986; }
    .listing-card.biddin-live .listing-card-header .listing-card-status-content {
      text-transform: uppercase; }
      .listing-card.biddin-live .listing-card-header .listing-card-status-content .w-100 {
        margin: auto;
        text-align: center; }
  .listing-card.biddin-overtime .listing-card-header {
    background-color: #ff424a; }
    .listing-card.biddin-overtime .listing-card-header .listing-card-status-content {
      text-transform: uppercase; }
      .listing-card.biddin-overtime .listing-card-header .listing-card-status-content .w-100 {
        margin: auto;
        text-align: center; }

.col-ipX-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }
  @media (min-width: 375px) and (max-width: 767px) {
    .col-ipX-6 {
      flex: 0 0 50%;
      max-width: 50%; } }

@media (max-width: 767px) {
  .listing-card {
    max-width: 100%;
    height: 200px; }
    .listing-card .listing-card-header {
      height: 30px;
      width: 90%;
      right: 5%;
      font-size: 10px;
      letter-spacing: normal;
      top: 4px; }
      .listing-card .listing-card-header .fire-dark {
        padding: 0 2px; }
      .listing-card .listing-card-header .listing-card-status-text {
        font-size: 10px; }
      .listing-card .listing-card-header .listing-card-status-content {
        display: flex;
        margin: 0 auto;
        padding: 4px;
        background-color: white;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        text-transform: uppercase; }
    .listing-card .listing-card-footer .card-type {
      font-size: 10px;
      margin: 0;
      padding: 2px 10px; }
      .listing-card .listing-card-footer .card-type.listing, .listing-card .listing-card-footer .card-type.sale {
        background-color: #652c90;
        color: white; }
      .listing-card .listing-card-footer .card-type.rental {
        background-color: #1a64ba;
        color: white; }
    .listing-card .listing-card-footer .listing-card-underline {
      height: 3px; }
    .listing-card .listing-card-footer .listing-card-footer-title {
      font-size: 14px;
      line-height: 1.43;
      padding: 2px 10px;
      min-height: 34px; }
    .listing-card .listing-card-footer .card {
      padding: 4px 10px;
      min-height: 40px; }
      .listing-card .listing-card-footer .card .listing-card-footer-subtitle {
        font-size: 10px;
        opacity: 1;
        line-height: 1.6;
        max-width: 80%; }
      .listing-card .listing-card-footer .card .listing-card-footer-content {
        margin-right: 28px; }
        .listing-card .listing-card-footer .card .listing-card-footer-content .listing-card-footer-price {
          font-size: 16px; }
      .listing-card .listing-card-footer .card .listing-card-footer-icon img {
        width: 18px;
        height: 18px; }
    .listing-card .listing-card-text-ends-in {
      display: none; }
    .listing-card .listing-card-text-time-live {
      font-family: "Open Sans";
      font-size: 10px;
      line-height: 1.6;
      letter-spacing: normal;
      color: #0c0033; }
    .listing-card.biddin-end .listing-card-header .listing-card-status-content {
      font-size: 10px;
      font-family: "Open Sans";
      font-weight: bold;
      letter-spacing: normal;
      text-align: center;
      color: #0c0033; }
      .listing-card.biddin-end .listing-card-header .listing-card-status-content .w-100 {
        margin: auto; }
    .listing-card.biddin-soon .listing-card-header .listing-card-status-content .w-100 {
      font-size: 10px;
      line-height: 1.6;
      color: #0c0033;
      flex-direction: row; }
      .listing-card.biddin-soon .listing-card-header .listing-card-status-content .w-100 .datetime {
        flex: 1;
        background-color: white;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        align-items: center;
        place-content: center;
        display: flex; }
        .listing-card.biddin-soon .listing-card-header .listing-card-status-content .w-100 .datetime .date,
        .listing-card.biddin-soon .listing-card-header .listing-card-status-content .w-100 .datetime .month {
          font-size: 10px;
          font-weight: bold;
          margin: 1px; }
    .listing-card.biddin-live .listing-card-header .listing-card-status-content .w-100 {
      font-size: 10px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: #0c0033; }
    .listing-card.biddin-overtime .listing-card-header .listing-card-status-content .w-100 {
      margin: auto;
      text-align: center; } }
@media (max-width: 374px) {
  .listing-card {
    width: 100%;
    height: 200px;
    max-width: 100%; }
    .listing-card .listing-card-header {
      right: 8px; }
      .listing-card .listing-card-header .fire-dark {
        padding: 0 6px; } }

/*# sourceMappingURL=index.css.map */
