@import '~antd/lib/style/themes/default.less';

.taskTableWrapper {
  margin-top: 15px;
}

.assetTable {
  :global {
    .ant-table td { white-space: nowrap; }
    .ant-table-row-hover {
      background-color: #fff;
    }
    .ant-form-item {
      margin: 0 !important;
    }
  }
}
