@import '~antd/lib/style/themes/default.less';

.wrapper {
  display: flex;
  align-items: center;
  margin-left: 16px;
  .button {
    width: 96px;
  }
}

.selectedRow {
  color: @primary-color;
}

.highlight {
  color: @primary-color;
}
