@import '~antd/lib/style/themes/default.less';
.tag{
  background-color: #E9E9E9;
  width: 68px;
  color: #002140;
  margin-right: 0;
  text-align: center;

  span{
    text-overflow: ellipsis;
  }
}

.textPrimary {
  color: @primary-color; 
}
