.contractsWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .headerWrapper {
    padding: 12px 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .leftActionWrapper {
      display: flex;
      flex-direction: row;

      .selected {
        color: rgb(0, 82, 204);
      }

      .newBtn {
        width: 90px;
      }
    }

    :global {
      .ant-dropdown-trigger {
        margin: 0 25px 0 0;

        span {
          font-size: 18px;
        }

        span,
        i {
          color: rgba(0, 0, 0, .85);
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
    }
  }

  .contractsTabWrapper {
    padding: 20px;
    height: 100%;
    overflow-y: auto;
  }
}

.contractName {
  color: #0052CC;
}
