.wrapper{
  height: 100%;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  :global {
    .ant-card-body {
      height: 100%;
      overflow: auto;
    }
  } 
  .description{
    margin-left: -16px;
  }
}
